body {
	margin: 0;
	padding: 0;
	height: 7000px;
}

.window {
	position: absolute;
	overflow: hidden;
	border: 1px solid black;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	background-color: white;
}

.window-title {
	position: relative;
	margin: 0;
	padding: 5px;
	overflow: hidden;
	color: white;
	background-color: #394DCD;
	border-bottom: 1px solid black;
	font-size: 12pt;
	font-weight: bold;
	width: 100%;
	height: 15px;
	cursor: default;
	user-select: none;
}

.window-content {
	position: relative;
	width: 100%;
	height: calc( 100% - 15px - 10px - 1px );
	overflow: auto;
	margin: 0;
	padding: 0;
}

.resize-corner {
	position: absolute;
	width: 10px;
	height: 10px;
	border: 1px solid black;
	padding: 2px;
	cursor: se-resize;
	right: 0;
	bottom: 0;
}