body {
	margin: 0;
	padding: 0;
	height: 7000px;
}

.window {
	position: absolute;
	overflow: hidden;
	border: 1px solid black;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	background-color: white;
	display: flex;
	flex-direction: column;
}

.window-title {
	position: relative;
	margin: 0;
	padding: 5px;
	overflow: hidden;
	color: white;
	background-color: #394DCD;
	border-bottom: 1px solid black;
	font-size: 12pt;
	font-weight: bold;
	width: 100%;
	cursor: default;
	user-select: none;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.close-box {
	margin-left: auto;
	margin-right: 10px;
	padding: 2px;
	border: 1px solid white;
	background-color: red;
}

.window-content {
	position: relative;
	width: 100%;
	height: calc( 100% - 15px - 10px - 1px );
	overflow: auto;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	flex: 1;
}

.resize-corner {
	position: relative;
	width: 15px;
	height: 15px;
	border: 1px solid black;
	margin: 2px;
	cursor: se-resize;
	align-self: flex-end;
}
